<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
 
    <!--Declarei a altura dos blocos para corresponder aos designers solicitados-->

    <div class="container my-5">
        <div class="row">
            <div class="col", style="height: 100px; border: 5px solid red;"></div>
        </div>
        <div class="row">
            <div class="col", style="height: 300px; border: 5px solid red;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-3", style="height: 400px; border: 5px solid black;"></div>
            <div class="col-9", style="height: 400px; border: 5px solid black;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col", style="height: 200px; border: 5px solid green;"></div>
        </div>
        <div class="row">
            <div class="col", style="height: 200px; border: 5px solid green;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-6", style="height: 400px; border: 5px solid blue;"></div>
            <div class="col-6", style="height: 400px; border: 5px solid blue;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-6", style="height: 200px; border: 5px solid yellow;"></div>
            <div class="col-6", style="height: 200px; border: 5px solid yellow;"></div>
        </div>
        <div class="row">
            <div class="col-6", style="height: 200px; border: 5px solid yellow;"></div>
            <div class="col-6", style="height: 200px; border: 5px solid yellow;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col", style="height: 100px; border: 5px solid blue;"></div>
        </div>
        <div class="row">
            <div class="col-6", style="height: 300px; border: 5px solid blue;"></div>
            <div class="col-6", style="height: 300px; border: 5px solid blue;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-3", style="height: 400px; border: 5px solid black;"></div>
            <div class="col-9", style="height: 400px; border: 5px solid black;">
                <div class="row", style="height: 200px ;border-bottom: 5px solid black;"></div>
                <div class="row"></div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col", style="height: 100px; border: 5px solid red;"></div>
        </div>
        <div class="row">
            <div class="col-3", style="height: 300px; border: 5px solid red;"></div>
            <div class="col-9", style="height: 300px; border: 5px solid red;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-9", style="height: 400px; border: 5px solid black;">
                <div class="row", style="height: 100px ;border-bottom: 5px solid black;"></div>
                <div class="row"></div>
            </div>
            <div class="col-3", style="height: 400px; border: 5px solid black;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-9", style="height: 400px; border: 5px solid green;"></div>
            <div class="col-3", style="height: 400px; border: 5px solid green;">
                <div class="row", style="height: 133px ;border-bottom: 5px solid green;"></div>
                <div class="row", style="height: 133px ;border-bottom: 5px solid green;"></div>
                <div class="row"></div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-6", style="height: 400px; border: 5px solid black;"></div>
            <div class="col-6", style="height: 400px; border: 5px solid black;">
                <div class="row", style="height: 200px ;border-bottom: 5px solid black;"></div>
                <div class="row"></div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col", style="height: 200px; border: 5px solid yellow;"></div>
        </div>
        <div class="row">
            <div class="col-6", style="height: 200px; border: 5px solid yellow;"></div>
            <div class="col-6", style="height: 200px; border: 5px solid yellow;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col", style="height: 100px; border: 5px solid green;"></div>
        </div>
        <div class="row">
            <div class="col-4", style="height: 300px; border: 5px solid green;"></div>
            <div class="col-4", style="height: 300px; border: 5px solid green;"></div>
            <div class="col-4", style="height: 300px; border: 5px solid green;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-3", style="height: 400px; border: 5px solid red;"></div>
            <div class="col-9", style="height: 400px; border: 5px solid red;">
                <div class="row", style="height: 133px; border-bottom: 5px solid red;"></div>
                <div class="row", style="height: 133px; border-bottom: 5px solid red;"></div>
                <div class="row"></div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-3", style="height: 400px; border: 5px solid black;"></div>
            <div class="col-9", style="height: 400px; border: 5px solid black;">
                <div class="row", style="height: 300px; border-bottom: 5px solid black;">
                    <div class="col", style="border-right: 5px solid black;"></div>
                    <div class="col"></div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-6", style="height: 133px; border: 5px solid red;"></div>
            <div class="col-6", style="height: 133px; border: 5px solid red;"></div>
        </div>
        <div class="row">
            <div class="col-6", style="height: 133px; border: 5px solid red;"></div>
            <div class="col-6", style="height: 133px; border: 5px solid red;"></div>
        </div>
        <div class="row">
            <div class="col-6", style="height: 133px; border: 5px solid red;"></div>
            <div class="col-6", style="height: 133px; border: 5px solid red;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col", style="height: 133px; border: 5px solid green;"></div>
        </div>
        <div class="row">
            <div class="col", style="height: 133px; border: 5px solid green;"></div>
        </div>
        <div class="row">
            <div class="col", style="height: 133px; border: 5px solid green;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-4", style="height: 400px; border: 5px solid black;"></div>
            <div class="col-4", style="height: 400px; border: 5px solid black;"></div>
            <div class="col-4", style="height: 400px; border: 5px solid black;"></div>
        </div>
    </div>
    
    
    <div class="container my-5">
        <div class="row">
            <div class="col", style="height: 133px; border: 5px solid blue;"></div>
        </div>
        <div class="row">
            <div class="col-6", style="height: 133px; border: 5px solid blue;"></div>
            <div class="col-6", style="height: 133px; border: 5px solid blue;"></div>
        </div>
        <div class="row">
            <div class="col", style="height: 133px; border: 5px solid blue;"></div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-3", style="height: 133px; border: 5px solid yellow;"></div>
            <div class="col-9", style="height: 133px; border: 5px solid yellow;"></div>
        </div>
        <div class="row", style="height: 133px; border: 5px solid yellow;">
        </div>
        <div class="row">
            <div class="col-9", style="height: 133px; border: 5px solid yellow;"></div>
            <div class="col-3", style="height: 133px; border: 5px solid yellow;"></div>
        </div>
    </div>









    
    
</body>
</html>